/* --- Global styles ---  */

body{
     margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

/* --- Typography --- */

h3{
    font-family: 'Antonio', sans-serif;
}

 ul li {
   list-style-type: none;
}

/* --- Layout --- */

header{
    background-image: url(images/bread_background_sodertugg.png);
    background-size: cover;
    background-position: center;
    height:40em;
}

.icon{
    height: 1em;
    margin-left:.3em;
    margin-right:.3em;
}

footer{
    background-color: #1E1F21;
    color: #fff;
}



